.ICEauthority
.Xauthority
.audacity-data/
.bash_history
.bash_logout
.bashrc~
.cache/
.config/
.dmrc
.dropbox-dist/
.dropbox/
.fzf.bash
.fzf.zsh
.fzf/
.gimp-2.8/
.gitconfig
.gnome/
.gtkrc-2.0
.gtkrc-xfce
.icons/
.idlerc/
.java/
.lando/
.linuxmint/
.local/
.mozilla/
.node_repl_history
.npm/
.nvm/
.omegat/
.oracle_jre_usage/
.pki/
.profile
.python_history
.something.html.un~
.ssh/
.sudo_as_admin_successful
.themes/
.thumbnails/
.vim/
.viminfo
.vimrc~
.vuerc
.wine/
.xinputrc
.xsession-errors
.xsession-errors.old
.zshrc
Calibre Library/
Desktop/
Documents/
Downloads/
Dropbox/
McMojave-circle/
Mojave-gtk-theme/
Music/
Pictures/
TEST
Videos/
celfahr
celfahr.c
composer.json
composer.lock
countdown.sh
example/
ocean
something.html
something.html~
endor/
